.nav {
  position: absolute;
  top: 0;
  margin-bottom: 60px;
  padding-bottom: 90px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav a:last-child {
  padding-right: 14px;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://images4.alphacoders.com/648/648138.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height:750px;
}

.jumbotron .content{
  position: relative;
  top:70px;
  
}

.jumbotron h1 {
  color: #fff;
  font-weight: bold;
  font-family: "futura-pt", "Futura PT", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  font-size: 36px;
}

.jumbotron p {
  font-size: 20px;
  color: gray;
  font-family: "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
}

.jumbotron span p {
  font-size: 15px;
  color: gray;

}

.jumbotron .row p {
  font-size: 15px;
  color: gray;

}

.jumbotron .row a {
  font-size: 15px;
}


.neighborhood-guides {
        
}

.neighborhood-guides h2{
  float: center;
  text-align: center;
  font-family: "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 28px;
  font-weight: bold;
  padding-top: 69px;
  padding-bottom: 69px;
  color: gray;
}

.neighborhood-guides p{
    
    margin-bottom: 13px;
}



#skills {
  font-size: 27px;
  font-family: "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  color:gray;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-family: 'Shift', sans-serif;
  color:gray;
}

.row h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  color:gray;
  text-transform: uppercase;
}