#thepage {
  padding-left: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
}

h3 {
  font-size: 24px;
  font-family: 'Shift', sans-serif;
  color:gray;
}

.nav {
  position: absolute;
  top: 0;
  margin-bottom: 60px;
  padding-bottom: 90px;
}

.nav li {
  display: inline;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding-right: 14px;
  text-transform: uppercase;
}

.nav .pull-right {
  padding-right: 0px;
  text-align: right;
}

#con {
  padding-right: 0px;
}

.jumbotron {
  background-image:url('http://images4.alphacoders.com/648/648138.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height:750px;
}

.jumbotron .content{
  position: relative;
  top:70px;
  
}

.jumbotron h1 {
  color: #fff;
  font-weight: bold;
  font-family: "futura-pt", "Futura PT", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  font-size: 36px;
}

.jumbotron p {
  font-size: 20px;
  color: gray;
  font-family: "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
}

.jumbotron span p {
  font-size: 15px;
  color: gray;

}

.jumbotron .row p {
  font-size: 15px;
  color: gray;

}

.jumbotron .row a {
  font-size: 15px;
}

ol, ul, li {
    list-style: none outside none;
  background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.neighborhood-guides {

  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 79px;
}

.neighborhood-guides h2{
  float: center;
  text-align: center;
  font-family: "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 28px;
  font-weight: bold;
  padding-top:69px;
  padding-bottom: 69px;
  color: gray;
}

.neighborhood-guides p {
  margin-bottom: 13px;
}

.neighborhood-guides a p {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Shift', sans-serif;
}

.neighborhood-guides .row {
  padding-bottom: 20px;
}

.row h2 {
  font-size: 28px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  color:gray;
  text-transform: uppercase;
}

.learn-more {
  background-color: #F8F8F8;
}



