img{
  display: block;
  margin: auto;
  margin-top: 8px;
}

#container{
  display: block;
  margin: auto;
  width: 600px;
  outline: 1px solid black;
  font-size: 0;
  line-height: 0;
}

.gridRow{
  display: block;
  width: 600px;
}

.gridContent{
  display: inline-block;
}

.btn-primary{
  display: block;
  margin: auto;
  margin-top: 58px;
  margin-bottom: 15px;
}

body{
  text-align: center;
}
