.jumbotron {
  position: relative;
  overflow: hidden;
  background: #efefef;
  background-image: url(../../img/footer_lodyas.png);
  
  .content {
    position: relative;
    top:55px;
    margin-bottom: 40px;
    
    h1 {
      color: #ddd;
      font-family: $fCarter-heading;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: bold;
    }

    p {
      color: #ccc;
      font-family: $fCarter-body;
      font-size: 15px;
      
      em {
        color: #efe;
        font-size: 15px;
      }
    }
    
    .row, a {
      font-size: 15px;
      
      a:hover {
        color: #428bca;
      }
    }
  }
}
