.jumbotron {
  position: relative;
  overflow: hidden;
  background: #efefef;
  background-image: url(../../img/footer_lodyas.png);
  
  .content {
    position: relative;
    top:55px;
    margin-bottom: 40px;
    
    h1 {
      color: #ddd;
      font-family: "futura-pt", "Futura PT", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: bold;
    }
    
      h3 {
        color:#ddd;
      }

    p {
      font-size: 15px;
      color: #ccc;
      font-family: "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;

      em {
        font-size: 15px;
        color: #efe;
      }
    }
    
    .row, a {
      font-size: 15px;
      
      a:hover {
        color: #428bca;
      }
    }
  }
}
