.nav {
  position: absolute;
  top: 0;
  
  #UrHere {
    border-bottom: $bNav;
  }
  
  a {
    color: #aaa;
    margin-right: 1.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
        
    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      //margin-right: 0;
    }
    
    &:hover {
      border-bottom: $bNav;
    }
    
    &:link {
      text-decoration: none;
    }
  }
  
  li {
    display: inline;
  }
  
  .pull-right {
    margin-right: 0;
    text-align: right;
  }
  
}
