.projects {

  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 79px;
  
  h2 {
    text-align: center;
    font-family: "Shift", sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding-top:69px;
    padding-bottom: 69px;
    color: gray;
  }
  
  p {
    margin-bottom: 13px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Shift', sans-serif;
  }
  
  .row {
    padding-bottom: 20px;
    
    h2 {
      color:#efefef;
      text-transform: uppercase;
    }
  }
}
