//font stacks

$fDefault : "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$fShift : "Shift", sans-serif;

$fCarter-heading : "futura-pt", "Futura PT", "Roboto", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$fCarter-body : "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

//borders

$bNav : 1px solid #5a5a5a;
$bSeparator : 1px solid #dbdbdb;